div#navbar-links{
    section {
        .what-i-learned-in-boating-school-is, .school {
            font-family: $info-font;
        }
        span{
            color: $primary-color;
            opacity: 75%;
        }
    } 
}

h1{
    font-weight: 800;
    font-size: 30px;

}
div.school{
    font-weight: 600;
}

