// MIXINS 

@mixin flexBro($ai: flex-start, $fd: column, $jc: center) {
    display: flex;

    align-items: $ai;
    flex-direction: $fd;
    justify-content: $jc;

}

@mixin headerFont($fs: 26px, $fw: 500, $ff:$info-font){
    font: {
        size: $fs;
        weight: $fw;
        family: $ff;
    }
}