// PLACEHOLDERS 

%name-font {
    text-decoration: none;
    
    font: {
        size: 26px;
        weight: 600;
    }
    
    color: $primary-color;
}

%nav-font {

    font-size: 18px;
    color: $primary-color;
    background-color: $secondary-color;

    &:hover {
        color: $secondary-color;
        background-color: $primary-color;

    }
}

%card-half {
    height: $square-length;
    width: $square-length;
}