// VARIABLES 

$head-font: "Helvetica Neue", Helvetica, Arial, sans-serif; 
$info-font: "Helvetica Neue", Helvetica, Arial, sans-serif;



//colors 
$primary-color:   #010436;
$secondary-color: #f5f5f5;
$gray-font: rgba(0, 0, 0, 0.7);


//square size

$nav-pad: 24px;
$nav-font-size: 16px;


$square-length: 450px;

$pad: 0px 0px 15px 0px;

$content-margin: ( 2 * $nav-pad + $nav-font-size);

$vl-margin: 100px;

$section-margins: $vl-margin 0px 0px 0px;