// VARIABLES 

$head-font: Gill Sans, Gill Sans MT, Calibri, sans-serif; 
$info-font: "Helvetica Neue", Helvetica, Arial, sans-serif;;



//colors 
$primary-color:   #010436;
$secondary-color: #f5f5f5;


//square size

$square-length: 365px;

$pad: 0px 0px 30px 0px;