// VARIABLES 

$nav-font: Gill Sans, Gill Sans MT, Calibri, sans-serif; 
$info-font: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;



//colors 
$primary-color:   #010436;
$secondary-color: #f5f5f5;
