// // NAVBAR 
// @media screen 
// and (min-device-width: 1200px) 
// and (max-device-width: 1600px) 
// and (-webkit-min-device-pixel-ratio: 1) { 
  #menu {
    visibility: hidden;
    position: absolute;
  }
  #toggle-menu{
    visibility: hidden;
    position: absolute;
  }
  #my-name{
    overflow: hidden;
  }
  nav {

    z-index: 1000;
    display: flex;
    width: 100vw;
    align-items: center;
    overflow-y: hidden;

    position: fixed;
    top: 0;
  
    background-color: $secondary-color;
    font-family: $head-font;
    >div {
      margin-left: 27px;
      display: flex;
      width: 100%;
      height: 100%;
  
      a {
        @extend %name-font;
      }
    }
    
    ul {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      text-transform: uppercase;
      li {
        a {
          text-decoration: none;
          div {
            padding: $nav-pad;
            font-size: $nav-font-size;
            @extend %name-font;
            font-weight: 400;
            &:hover {
              background-color: $primary-color;
              color: $secondary-color;
            }
            }
          }
        }
      }
  }  
  // html{

  //   // cursor: pointer;
  // }  

@media screen 
  and (min-width: 300px) 
  and (max-width: 800px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    
    #menu{
      overflow: hidden;
      visibility: visible;
      position: fixed;
      z-index: 250;
      font-size: 20px;
      right: 20px;
      top: 17px;
      .nav-elements{
        position: fixed;
      }
    }
    // #menu{
    input#toggle-menu, label#menu{
      z-index: 100;
      cursor: pointer;
    }
    nav{
      z-index: 1;
      display: flex;
      flex-direction: column;
      height: 50px;
      overflow-y: hidden;
      position: fixed;
      ul{
        padding: 50px 0px 0px 0px;
        overflow-y: visible;
        // z-index: 1505;
        li.nav-elements{

          // padding: 50px 0px 0px 0px;
          a{
            .element-toggle-div{

              background-color: $secondary-color;
            }
            div{
              width: 100vw;
              height: 50px;
              margin: 0px;
              padding: 0px;
            }
          }
        }
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: visible;
      }
      .nav-elements{
        bottom: 100px;
        z-index: 100;
        visibility: visible;
      }
      #menu {
        display: flex;
        position: fixed;
        color: $primary-color;
        visibility: visible;
        text-align: center;
        font-size: 22px;
        padding: 0px 10px 0px 0px;
        top: 16px;
        right: 12px;
        overflow-y: hidden;
      }
      div{
        margin: 0px 0px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        #my-name{
          overflow-y: hidden;
          font-size: 26px;
        }
      }
      ul{
        // visibility: hidden;
        position: absolute;
        // display: block;
      }
    }
    .toggle-nav{
      height: 300px;
      #my-name{
        z-index: 500;
        top: 12px;
        position: fixed;
      }
    }
    li.nav-elements{
      visibility: visible;
      z-index: 1000;
    }

    .elements-toggle{
      background-color: $primary-color;
    }
    
    nav>ul>li.element-click{
      background-color: $secondary-color;
      color: $primary-color;
    }
    .toggle-menu-container{
      display: flex;
      height: 250px;
    }


}