// // HOME
section#home {
  >main {
    display: flex;
    justify-content: center;
    
    background: {
      image: url(../imgs/network.jpg);
      attachment: fixed;
      position: center;
      repeat: no-repeat;
      size: cover;
    } 

    :nth-child(2){
      background-color: $secondary-color;
    }

    >div{
      display: flex;
      padding: 160px 0px 0px 0px;

      >#i-am{
        box-sizing: border-box;
        padding: 40px;
        display: flex;
        @include flexBro(flex-start, column, center);

        list-style: none;

        // beginning of business card stylings

        h1{
          font-weight: 800;
          font-size: 30px;
          padding: 10px 0px 5px 0px;
        }

        h3{
          font-style: italic;
          font-weight: 400;
          color: $gray-font;
          padding: 0px 0px 30px 0px;
          font-size: 16px;
        }

        ul {
          display: flex;
          @include flexBro(flex-start, column, center);
        }

        li {
          font-size: 16px;
          font-weight: 400;
          padding: 0px 0px 10px 0px;
        }

        .bold {
          font: {
            weight: 600;
            style: none;
          }
        }

        font: {
          family: $info-font;
          size: 16px;
        }
      }

      >div{
        @include flexBro();
        @extend %card-half;
        
        img {
          @extend %card-half;
        }
      }
    }
  }
  >div {

    background-color: $secondary-color;

    display: flex;
    justify-content: center;
    
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      width: $square-length*2;
      background-color: $primary-color;

      .bh:hover {
        background-color: #053eff;
        color: white;
      }
      .li:hover {
        background-color: #0077b5;
        color: white;
      }
      .yt:hover {
        background-color: white;
        color: red;
      }
      .az:hover {
        background-color: white;
        color: black;
      }
      .fb:hover {
        background-color: #3b5998;
      }
      .gh:hover {
        background-color: #333;
      }
      .sc:hover {
        background-color: #f70;
      }
      
      
      a {
        text-decoration: none;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;

        
        height: 75px; 
        width: 75px;
        font-size: 25px;
        border-radius: 7px;

        color: $secondary-color;

        list-style-type: none;
      }
    }
// ul close    
  }
// div close  
}
// home close
section#introduction{

  div{
      img{
          padding: 150px 0px 0px 0px;
          opacity: 0%;
          transition: .5s;
          height: auto;
          width: 250px;
      }
      .array{
          transition: 1s;
      }
  }
  
  
  width: 100vw;
  @include flexBro(center, column, flex-start);
  margin: 0;
  padding: 0px 0px 0px 0px;
  h1 {
      opacity: 0%;
      padding: 0px 0px 75px 0px;
      @include headerFont(52px, 700);
      text-align: center;
      width: $square-length*3;
      transition: 1.5s;
  }
  p {
      opacity: 0%;
      padding: 0px 0px 300px 0px;
      width: $square-length*2;
      transition: 3s;
      line-height: 37px;
      font: {
          family: $info-font;
          size: 25px;
      }
      color: $gray-font;
      line-height: 2s;

      span {
          margin-left: 5%;
      }

  }
  
  background-color: $secondary-color;
}

div#navbar-anchors{
  section{
    @include flexBro(center);
    background-color: white;
    width: 100vw;
    div#header-div{
      width: 100vw;
      h1{
        text-align: center;
        padding: 2 * $nav-pad 0px;
        @include headerFont();
        letter-spacing: 3px;
      }
      hr{
        margin: 0px;
        border: 1px solid $secondary-color;
        overflow: hidden;
      }
    } //end of header-div

    #edu{
      @include flexBro(flex-start, row, center);
      width: 100vw;
      position: relative;
    }

    .boating-school{
      margin: $section-margins;
      text-align: right;
      width: 50%;
      padding-right: 50px;
    }
    
    .dot-vl{
      display: flex;
      justify-content: center;

      .dot{

        position: absolute;
        height: 7px;
        width: 7px;
        background-color: $primary-color;
        border-radius: 100%;
        margin: $vl-margin+5px 0px 0px 0px;
      }
      
    }
    
    .what-i-learned-in-boating-school-is{
      margin: $section-margins;
      width: 50%;
      padding-left: 50px;
    }

  }
}
