// // HOME
section#home {
  main.bg-img{
    background: {
      image: url(../imgs/network.jpg);
      attachment: fixed;
      position: center;
      repeat: no-repeat;
      size: contain;
    } 

  }
  >main {
    display: flex;
    justify-content: center;
    
    #social-links-container{
      width: 600px;

    }

    :nth-child(2){
      background-color: $secondary-color;
    }

    >div{
      display: flex;
      padding: 160px 0px 0px 0px;

      >#i-am{
        box-sizing: border-box;
        padding: 40px;
        display: flex;
        @include flexBro(flex-start, column, center);
        width: 450px;
        list-style: none;

        // beginning of business card stylings

        h1{
          font-weight: 800;
          font-size: 30px;
          padding: 10px 0px 5px 0px;
        }

        h3{
          font-style: italic;
          font-weight: 400;
          color: $gray-font;
          padding: 0px 0px 30px 0px;
          font-size: 16px;
        }

        ul {
          display: flex;
          @include flexBro(flex-start, column, center);
        }
        

        li {
          font-size: 16px;
          font-weight: 400;
          padding: 0px 0px 10px 0px;
        }

        .bold {
          font: {
            weight: 600;
            style: none;
          }
        }

        font: {
          family: $info-font;
          size: 16px;
        }
      }

      >div{
        @include flexBro();

        
        
      }
    }
  }
  >div {

    background-color: $secondary-color;

    display: flex;
    justify-content: center;
    
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 70px;
      width: $square-length*2;
      background-color: $primary-color;

      .bh:hover {
        background-color: #053eff;
        color: white;
      }
      .li:hover {
        background-color: #0077b5;
        color: white;
      }
      .yt:hover {
        background-color: white;
        color: red;
      }
      .az:hover {
        background-color: white;
        color: black;
      }
      .fb:hover {
        background-color: #3b5998;
      }
      .gh:hover {
        background-color: #333;
      }
      .sc:hover {
        background-color: #f70;
      }
      
      
      a {
        text-decoration: none;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;

        
        height: 75px; 
        width: 75px;
        font-size: 25px;
        border-radius: 7px;

        color: $secondary-color;

        list-style-type: none;
      }
    }
// ul close    
  }
// div close  
}

#my-picture {
  @extend %card-half;
}
// home close
section#introduction{
  p {

    // opacity: 0%;
    // padding: 0px 100px 240px 100px;
    width: 80vw;
    transition: 3s;
    line-height: 37px;
    font: {
        family: $info-font;
        size: 25px;
    }
    color: $gray-font;
    line-height: 2s;

    span {
        // margin-left: 5%;
    }
    padding: 0px 0px 100px 0px;
}
  

  div{
      img{
          padding: 0px 0px 0px 0px;
          opacity: 100%;
          // transition: .5s;
          height: 250px;
          width: 250px;
      }
      
  }
  
  
  width: 100vw;
  @include flexBro(center, column, flex-start);
  margin: 0;
  padding: 0px 0px 0px 0px;
  h1 {
      // opacity: 0%;
      padding: 20px 0px 75px 0px;
      @include headerFont(52px, 700);
      text-align: center;
      width: 100vw;
      transition: 1.5s;
  }
  
  
  background-color: $secondary-color;
  #education-anchor{
    height: $nav-font-size + 2 * $nav-pad;
  }
}

div#navbar-links{
  
  section{
    // margin: $nav-pad + $nav-font-size 0px 0px 0px;
    @include flexBro(center);
    background-color: white;
    width: 100vw;
    div#header-div{
      width: 100vw;
      h1{
        text-align: center;
        padding: 2 * $nav-pad 0px;
        @include headerFont();
        letter-spacing: 3px;
        color: $primary-color;
      }
      hr{
        margin: 0px;
        border: 1px solid $secondary-color;
        // overflow: hidden;
      }
    } //end of header-div
    
    #edu{
      @include flexBro(flex-start, column, center);
      width: 100vw;
      position: relative;
      right: 100px;

    }
    #edu:last-child{
      padding: 0px 0px 100px
    }
    .school-courses{
      @include flexBro(flex-start, row, center);
      width: 100vw;
      position: relative;
      color: $primary-color;
      overflow: visible;
    }
    
    
    .school{
        font-weight: 200;
        font-size: 15px;
        letter-spacing: 2px;
        span{
          font-size: 14px;
          font-weight: 500;
          font-family: $info-font;
          letter-spacing: 3px;
          line-height: 220%;
      }
      
      
      margin: $section-margins;
      text-align: right;
      width: 50%;
      padding-right: 42px;
    }
    
    .dot-vl{
      display: flex;
      justify-content: center;
      
      .dot{
        
        position: absolute;
        height: 7px;
        width: 7px;
        background-color: $primary-color;
        border-radius: 100%;
        margin: $vl-margin+12px 0px 0px 0px;
        z-index: 20;
      }
      .vl{
        position: absolute;
        z-index: 10;
        margin: $vl-margin+12px 0px 0px 0px;
        height: 100%;
        background-color: $secondary-color;
        width: 1px;
        border: 1px solid $secondary-color
      }
      
    }
    
    .what-i-learned-in-boating-school-is{
      span{
        font-size:14px;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-weight: 600;
      }
      font-size:14px;
      letter-spacing: 1px;
      margin: $vl-margin+3px 0px 0px 0px;
      width: 50%;
      padding-left: 42px;
      line-height: 200%;
    }

  }
  #portfolio-anchor{
    height: $nav-font-size + 2 * $nav-pad;
    width: 100%;
  }
}

#portfolio{
  height: 250px;
  width: 100%;
}

#scroll{
  display: flex;
  justify-content: center;
  padding: 75px;
  img{
    height:50px;
    opacity: .1;
  }
}



@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #site-wrapper{
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
    }
    section#home {
      main.bg-img{
        background-image: (url(../imgs/system-vert.jpg));
        background-size: cover;
      }

    }
    // .bg-img{
    //   display: none;
    // }
    // section#home {
    //   >main {
    //     display: flex;
    //     justify-content: center;
        
    //     background: {
    //       image: url(../imgs/network.jpg);
    //       attachment: fixed;
    //       position: center;
    //       repeat: no-repeat;
    //       size: cover;
    //     } 
    section#home{
      >main{
        background: {
          // image: none;
          color: $secondary-color;
        }
      }
    }
    section#home>main>div{
      padding: 0px;
  
    }
    main{
      #business-card-div{
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
      }
      div{
        flex-direction: column;
        div{
          height: 300px;
          width: 300px;
        }
      }
    }
    div{
      width: 100vw;
    }

    #my-picture{
      width: 275px;
      height: 275px;
    }
    div #scroll{
      padding: 50px 0px 10px 0px;
    }
    section#introduction{
      h1{
        font-size: 32px;
        padding: 0px 0px 20px 0px;
      }
      p{
        padding: 0px;
        font-size: 16px;
        height: 200px;
        overflow-y: hidden;
      }
      span{
        visibility: hidden;
      }
      >div>img{
        padding: 0px;

      }

    }
    section#home>main>div{
      #my-picture-frame{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
    #my-picture-frame{
      padding: 50px 0px 0px 0px;
    }

    #my-info{
      display: flex;
      justify-content: center;
      width: 250px;
      h1{
        font-size: 18px;
        padding: 0px 0px 5px 15px;
      }
      h3{
        font-size: 12px;
        padding: 0px 0px 15px 15px;
      }
      ul{
        padding: 0px 0px 15px 15px;
      }
    }
    #i-am{
      display: flex;
      align-items: center;
      width: 275px;
      height: 250px;
      padding: 0px;
    }
     
    // img.array{
    //   padding: 0px;
    // }
    // .array{
    //   width: 100vw;
    // }
    }
    div.school-courses{
      background-color: $secondary-color;
      .school{

      }
      flex-direction: column;
    }
    #my-picture{
      width: 275px;
      height: 250px;
    }

    #scroll{
      padding: 50px 0px;
    }
    

    .yt, .fb, .sc, .bh{
      visibility: hidden;
      position: absolute;
    }

    #current-state{
      width: 100vw;
      padding: 0px ;
    }
    #array-frame{
      display: flex;
      justify-content: center;
    }
    // div#navbar-links section #edu:last-child
  div#navbar-links{
    section{
      .what-i-learned-in-boating-school-is{
        margin: 0px 0px 25px 0px;
        padding: 0px;
        width: 80%;
        span{
          font-size: 12px;
        }
      }
      #edu{
        right: 0px;
      }
      #edu:last-child{
        padding: 0px;
        background-color: $secondary-color;
      }
      .school-courses{
        border-bottom: thin solid rgba(1,4, 54, .1);
        
        display: flex;
        .school{
          span{
            font-size: 20px;
          }

          text-align: left;
          padding: 0px;
          font-size: 16px;
          margin: 20px 0px 10px 0px;
          width: 80%;
        }


        flex-direction: column;
        align-items: center;
      }
      .dot-vl{
        visibility: hidden;
      }
      // .dot, .vl{
      //   right: 352px;
      //   bottom: 200px;
      // }
    }
  }
  
}
