// // HOME
section#home {
  >main {
    display: flex;
    justify-content: center;
    
    background: {
      image: url(../imgs/network.jpg);
      attachment: fixed;
      position: center;
      repeat: no-repeat;
      size: cover;
    } 

    :nth-child(2){
      background-color: $secondary-color;
    }

    >div{
      display: flex;
      padding: 172px 0px 0px 0px;

      >#i-am{
        box-sizing: border-box;
        padding: 40px;
        display: flex;
        @include flexBro(flex-start, column, center);

        list-style: none;

        // beginning of business card stylings

        h1{
          font-weight: 800;
          font-size: 30px;
          padding: $pad;
        }

        h3{
          font-style: italic;
          font-weight: 400;
          padding: $pad;
          font-size: 16px;
        }

        ul {
          display: flex;
          @include flexBro(flex-start, column, center);
        }

        li {
          padding: $pad;
          font-style: italic;
        }

        #phone-number{
          padding: 0px;
        }
       

        font: {
          family: $info-font;
          size: 16px;
        }
      }

      >div{
        @include flexBro();
        @extend %card-half;
        
        img {
          @extend %card-half;
        }
      }
    }
  }
  >div {

    background-color: $secondary-color;

    display: flex;
    justify-content: center;
    
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      width: $square-length*2;
      background-color: $primary-color;

      .bh:hover {
        background-color: #053eff;
        color: white;
      }
      .li:hover {
        background-color: #0077b5;
        color: white;
      }
      .yt:hover {
        background-color: white;
        color: red;
      }
      .az:hover {
        background-color: white;
        color: black;
      }
      .fb:hover {
        background-color: #3b5998;
      }
      .gh:hover {
        background-color: #333;
      }
      .sc:hover {
        background-color: #f70;
      }
      
      
      a {
        text-decoration: none;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;

        
        height: 75px; 
        width: 75px;
        font-size: 25px;
        border-radius: 7px;

        color: $secondary-color;

        list-style-type: none;
      }
    }
// ul close    
  }
// div close  
}
// home close

